<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start"></ion-buttons>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card>
    <ion-item color="dark">
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="credenciales.correo"></ion-input>
    </ion-item>
    
    <ion-item color="dark">
      <ion-label >Contraseña</ion-label>
      <ion-input [(ngModel)]="credenciales.password" type="password"></ion-input>
    </ion-item>
  </ion-card>


    <ion-button (click)="login()" color="primary" expand="full">
      Log In
    </ion-button>

  

 
    <ion-button color="medium" routerLink="/singup" expand="full">
      Sing Up
    </ion-button>
 

</ion-content>


