<ion-header color="dark" class="ion-no-border">
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
    <ion-button color ="primary" routerLink="/login">
      <ion-icon name="power-outline"></ion-icon>
      <ion-title>Movie List</ion-title>
  </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
  <h1>Trending Movies</h1>

  <ion-list color="dark">
    <ion-item button *ngFor ="let item of movies" [routerLink]="[item.id]" color="dark">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path">
      </ion-avatar>
      <ion-label>
        {{ item.title }}
        <p>{{ item.release_date | date:'y' }}</p>
        <p>{{ item.overview }}</p>
      </ion-label>
      <ion-badge slot="end"> {{ item.vote_average }}</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
